<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tlyerfoxx.sbcnote"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
          
        <activity
            android:name="com.simpleblacknote.main.TestFlow"
            android:label="@string/title_activity_main" 
			android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"
            android:screenOrientation="portrait">
            
           
            
        </activity>
        
        <activity
            android:name="com.simpleblacknote.main.LogoFlow"
            android:label="@string/title_activity_main" 
			android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"
            android:screenOrientation="portrait">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        
        <activity
            android:name="com.simpleblacknote.main.Table_Flow"
            android:label="@string/title_activity_main" 
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
            
            
            
        </activity>
        
        <activity
            android:name="com.simpleblacknote.main.Month_List"/>
        
        <activity
            android:name="com.simpleblacknote.main.Today_List"/>
        
        <activity
            android:name="com.simpleblacknote.main.Week_List"/>
        
        <activity
            android:name="com.simpleblacknote.main.All_List"/>
        
        <activity
            android:name="com.simpleblacknote.main.UnLock_Flow"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"
            />
        
        <activity
            android:name="com.simpleblacknote.main.Lock_Flow"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"
            />
        
       <activity 
           android:name="com.simpleblacknote.main.ADEdit_Flow"
           android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
           android:screenOrientation="portrait"
           />
        
       <activity 
           android:name="com.simpleblacknote.main.ADEdit_Flow2"
           android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
           android:screenOrientation="portrait"
           />
       
        <activity
            android:name="com.simpleblacknote.main.CopyRightFlow"
            android:label="@string/title_activity_main" 
			android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"
            android:screenOrientation="portrait">
            
            
            
        </activity>
        
        
       
        
        <activity
            android:name="com.simpleblacknote.main.GetDisplaySize"
            android:label="@string/title_activity_main2" 
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"
            android:screenOrientation="portrait">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        
        <activity
            android:name="com.simpleblacknote.main.Test_Layout"
            android:label="@string/title_activity_main" >
            
        </activity>
        
        <activity android:name="com.google.ads.AdActivity"
		android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        
        
    </application>

    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:resizeable="true" android:normalScreens="true" android:smallScreens="true"></supports-screens>
</manifest>